#body {

        background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(63, 57, 226, 0.527) ), url("../../../assets/img/lake2.jpg");
        background-color: #cccccc;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}

img {

    width: 30%;
}

a {
    opacity: .8;
    background-color: white;
    height: 8%;
    display: inline-block;
    border-radius: 10%;
    border: .5px solid black;
    padding: .5em;
}

a img {
    height: 100%;
    width: auto;
}

#dropbox {
    height: 50%;
}