
input[type="file"]{
    display: none;
}

#fileUploadButton {
    border: 1px solid black;
}

thead {
    background: red;
}

tbody > tr:hover {
    background-color: rgb(223, 223, 223);
}

td {
    padding: 5px;
}

.file-name {
    font-weight: 600;
}

.file-starred {
    color: gold; 
}