
<!-- File actions -->
<div id="file-actions">

  <!-- Up to parent folder -->
  <div 
    [class.button-disabled]="currentPath === ''" 
    (click)="backToParentFolder()" 
    class="button"
    id="parent-button"
  >
    <i class="fa-folder-open fas"></i>
    Back To Parent Folder
  </div>

  <!-- File upload -->
  <input 
    type="file" 
    id="file-upload-input"
    (change)="handleFileUpload($event.target.files)"   
  />
  <label 
    for="file-upload-input" 
    id="file-upload-button"
    class="button"
  >
    <i class="fa-arrow-up fas"></i>
    Upload
  </label>
</div>

<!-- File view -->
<div id="file-list" *ngIf="!error">
  <table>
    <tbody>
      <tr 
        *ngFor="let file of fileList" 
        [id]="file.id"
        [class.clickedFile]="selectedFile === file.id"  
      >
        <td class="file-icon" (click)="fileAction($event)"><img [src]="file.iconPath" alt="file.iconPath" /></td>
        <td class="file-name" (click)="fileAction($event)">{{ file.name }}</td>
        <td class="file-modified" (click)="fileAction($event)">{{ file.modified }}</td>
        <td class="file-size" (click)="fileAction($event)">{{ file.size }}</td>
        <td class="file-starred">
          <span 
            class="fa-star"
            [class.fas]="file.starred"
            [class.far]="!file.starred"
            (click)="toggleStar($event)"
          ></span>
        </td>
        <td class="file-download">
          <div 
            *ngIf="file.fileType === FileType.file"  
            (click)="downloadFile($event)" 
            class="download-button"
          >
            <i class="fa-arrow-down fas"></i>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="error" id="file-list-error">
  <h3>The requested file could not be found</h3>
  <button (click)="backToHome()">Back to Home Folder</button>
</div>
