<div id="starred">
  <h6><i class="fas fa-star"></i> Starred Items</h6>
  <div id="starred-items" class="force-overflow">
    <div 
      class="item"
      [id]="star.id" 
      *ngFor="let star of starredList" 
      (click)="getStarredItem($event)"
    >
      {{star.name}}
    </div>
  </div>  
</div>

<div id="search">
  <h6><i class="fas fa-search"></i> Search Results</h6>
  <div id="search-items" class="force-overflow">
    <div
      class="item" 
      [id]="search.id" 
      *ngFor="let search of currentSearch" 
      (click)="fileAction($event)"
    >
      {{search.name}}
    </div>
  </div>
</div>