
:host {
    background: linear-gradient( rgba(173, 217, 230, 0.432), darkslateblue );
}

#starred, #search {
    display: flex;
    flex-flow: column;
    height: 50%;    
}

h6 {
    flex: 0 1 auto;

    color: white;
    font-style: bold;
    cursor: pointer;
    text-shadow: 1px 1px grey;
    padding: 1em 10px 0;
}


#starred-items, #search-items {
    flex: 1 1 auto;
      
    display: flex;
    flex-flow: column;
    padding: 10px;

    /* Hack to make scroll work */
    height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    /* Cut extra long file names */
    min-height: 25px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.force-overflow {
    overflow-y: auto;
}
