<div 
  id="previewDiv" 
  [class.center]="preview.type === 'image' || preview.type === 'default' || preview.type === 'unsupported'"
  [class.default]="preview.type === 'default' || preview.type === 'unsupported'"
>

  <!-- Default, fallback -->
  <div *ngIf="preview.type === 'default' || preview.type === 'unsupported'">
    {{ preview.data }}
  </div>

  <!-- PDF, HTML -->
  <object *ngIf="preview.type === 'application/pdf' || preview.type === 'text/html'" [data]="preview.data" [type]="preview.type">
    <embed [src]="preview.data" [type]="preview.type" />
  </object>

  <!-- Images -->
  <div *ngIf="preview.type === 'image'" class="scrolling">
    <img [src]="preview.data" />
  </div>

  <!-- Text -->
  <div *ngIf="preview.type === 'text'" class="scrolling">
    <pre>
      {{ preview.data }}
    </pre>
  </div>

</div>