
/* Main page container for :
    - header
    - #main
*/
#container {
    opacity: 0.9;
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(63, 57, 226, 0.527) ), url("../../../assets/img/lake1.jpg");

    width: 100%; 
    height: 100%;
    
    display: flex;
    flex-flow: column;
}

/* Header with:
    - #logoutBtn
    - #mid
*/
header {
    /* height: 35vh; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;

    /* Fix height */
    flex: 0 1 400px;
}

/* Main area with:
    - sidebar
    - main
    - preview
*/
#main{
    background-color: white;
    opacity: .8;
    width: inherit;
    height: inherit; 

    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: 1fr;

    flex: 1 1 auto;
}


#mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/-3;
}

#logoutBtn {
    grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
    
}

header img {
  
    width: 25%;
}